# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
.pytest_cache/

# Conda
.conda/
envs/

# Jupyter
.ipynb_checkpoints/

# VSCode
.vscode/

# Data (опционально - если данные большие)
data/raw/
data/processed/

# Логи
*.log